In [22]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

from sklearn.tree import DecisionTreeClassifier

data =pd.read_csv("train.csv")

In [23]:
data.head()

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [24]:
testdf = pd.read_csv('test.csv')
traindf = pd.read_csv('train.csv')

In [25]:
traindf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42000 entries, 0 to 41999
Columns: 785 entries, label to pixel783
dtypes: int64(785)
memory usage: 251.5 MB

In [26]:
xtrain=traindf.drop("label",axis=1)
ytrain = traindf['label']
xtest = testdf.copy()

In [27]:
clf= DecisionTreeClassifier(max_depth=9, criterion='entropy')

In [31]:
clf.fit(xtrain,ytrain)
ypred = clf.predict(xtrain)
ypred = clf.predict(xtest)

In [32]:
len(ypred)

28000

In [33]:
answer = pd.Dataframe({'ImageID': np.arange(1,28001,1)})

len(answer)
answer['label']=ypred

answer.to_csv("MNISTanswers.csv", index=False)

AttributeError: module 'pandas' has no attribute 'Dataframe'